#mapCitySelect
  transition: all .4s
  position: absolute
  z-index: 1
  width: 100%
  height: 100%
  top: 20px
  &.off
    transition: all .4s
    opacity: 0
    &.on
      width: 100%
      height: 100%
      opacity: 1