@import '../../App.sass'

.navbar
  li
    svg
      stroke: $white
  .btn-ghost:hover
    background-color: rgba($white, .2 )
  input
    &:focus
      outline: none
  .logo
    background-color: none 
  .menu
    svg
      stroke: $black